{%extends "template.html" %}
{%block content %}
<div class="jumbotron">
	<h1 class="display-4">Members</h1>
</div>
<table class="table">
<thead>
	<tr>
		<th>이름</th>
		<th>생일</th>
		<th>전화번호</th>
		<th>이메일</th>
		<th>Reminder 수신 이메일</th>
		{% if user.is_staff %}
		<th></th>
		{%endif%}
	</tr>
</thead>
<tbody>
{%for i in members%}
<tr>
	<th>{{i.name}}</th>
	<td>{{i.birthday|date:"md"}}</td>
	<td>{{i.phone}}</td>
	<td>{{i.email}}</td>
	<td>{{i.email_reminder}}</td>
	{% if user.is_staff %}
	<td>
		<a href="/members/modify/{{i.id}}" class="btn btn-sm btn-outline-success"><i class="ri-edit-line"></i> 수정</a>
		<a href="/members/delete/{{i.id}}" class="btn btn-sm btn-outline-danger"><i class="ri-delete-bin-line"></i> 삭제</a>
	</td>
{%endif%}
</tr>
{%endfor%}
</tbody>
</table>
{% if user.is_staff %}
<a href="/members/add" class="btn btn-outline-primary"><i class="ri-user-add-line"></i> 추가</a>
{%endif%}
{%endblock%}