<h3 style="font-family: sans-serif; margin: 15px 0; color: #000;">Status Sharing Schedule</h3>
<table style="border-collapse: collapse; margin: 15px 0; font-size: 1.1em; font-family: sans-serif; min-width: 300px; text-align: left; background-color: #f9f9f9; color: #000; overflow: hidden;">
	<thead style="background-color: #0277bd; color: #ffffff; border-bottom: 1px #0277bd solid;">
		<tr>
			<th style="padding: 12px 15px;">날짜</th>
			<th style="padding: 12px 15px;">발표자</th>
			<th style="padding: 12px 15px;">캘린더</th>
		</tr>
	</thead>
	<tbody>
	{%for i in statussharing%}
		<tr style="{%if i.date == statussharing.0.date %}font-weight: 700; color: #000; background-color: #b3e5fc; border-bottom: 1px #b8b8b8 solid;{%else%}border-bottom: 1px solid #d8d8d8;{%endif%}">
			<td style="padding: 12px 15px;">{{i.date}}</td>
			<td style="padding: 12px 15px;">{{i.member.name}}</td>
			<td style="padding: 12px 15px;"><a style="text-decoration: none; font-weight: 700; color: #0277bd;" href="http://vmo.snu.ac.kr/calendar/{{i.cal}}">추가</a></td>
		</tr>
	{%endfor%}
	</tbody>
</table>
<br/>
<h3 style="font-family: sans-serif; margin: 15px 0; color: #000;">Lab Seminar Schedule</h3>
<table style="border-collapse: collapse; margin: 15px 0; font-size: 1.1em; font-family: sans-serif; min-width: 300px; text-align: left; background-color: #f9f9f9; color: #000; overflow: hidden;">
	<thead style="background-color: #ad1457; color: #ffffff; border-bottom: 1px #ad1457 solid;">
		<tr>
			<th style="padding: 12px 15px;">날짜</th>
			<th style="padding: 12px 15px;">발표자</th>
			<th style="padding: 12px 15px;">캘린더</th>
		</tr>
	</thead>
	<tbody>
	{%for i in seminar%}
	<tr style="{%if i.date == seminar.0.date %}font-weight: 700; color: #000; background-color: #f8bbd0; border-bottom: 1px #b8b8b8 solid;{%else%}border-bottom: 1px solid #d8d8d8;{%endif%}">
		<td style="padding: 12px 15px;">{{i.date}}</td>
		<td style="padding: 12px 15px;">{{i.member.name}}</td>
		<td style="padding: 12px 15px;"><a style="text-decoration: none; font-weight: 700; color: #ad1457;" href="http://vmo.snu.ac.kr/calendar/{{i.cal}}">추가</a></td>
		</tr>
	{%endfor%}
	</tbody>
</table>
<br />
<h3 style="font-family: sans-serif; margin: 15px 0; color: #000;">Next status report due: {{due}}</h3>
<br />
<p style="font-family: sans-serif; color: #000;">Sent from VMOLAB automated mailer.</p>